@{
    ViewData["Title"] = "Resume";
}
<section class="sub-hero">
	<div class="container">
		<span class="eyebrow">Resume</span>

		<h1>Qualifications at a glance.</h1>


		<p>Feel free to take a peek at my resume or download it for your convenience.</p>
		
		<a class="btn btn-primary rounded-pill" href="/documents/Dragana-Acamovic-Resume.pdf">Download Resume</a>
	</div>
</section>


<section class="section-pad">
	<div class="container">
		<div class="row g-4">
			<div class="col-lg-4">
				<div class="content-card">
					<h2>Quick Summary</h2>


					<ul class="clean-list">
						<li>Software Development student</li>


						<li>ASP.NET Core MVC and C# experience</li>


						<li>Database-backed web applications</li>


						<li>Client project collaboration</li>


						<li>Data analysis with Python</li>


						<li>Open to internship/co-op/junior roles</li>
					</ul>
				</div>
			</div>


			<div class="col-lg-8">
				<div class="content-card">
					<h2>Embedded Resume</h2>
					<iframe class="resume-frame" src="/documents/Dragana-Acamovic-Resume.pdf" title="Embedded resume PDF"></iframe>
				</div>
			</div>
		</div>
	</div>
</section>